

@model Member
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <!-- 引用google字體 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <!--  -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- 引用fontawesome icon -->

    <script src="https://kit.fontawesome.com/da3a6ce48e.js" crossorigin="anonymous"></script>
    <script src="/js/jquery.js"></script>

    <title>註冊</title>



</head>

<body>

   
    
    <div class="singup-body">
        <div class="singup-main">
            <div class="singup-container">
                <form method="post" asp-validation-summary="All">
                    <h1>註冊</h1>
                    
                    <label asp-for="Account">帳號:</label>
                    <input asp-for="Account" type="text">

                    <br/>
                    <label asp-for="Password">密碼:</label>
                    <input asp-for="Password"  type="password">

                    <br/>
                    <label asp-for="Email">信箱:</label>
                    <input asp-for="Email" type="email">
                    <div class="memberbox">

                        @* <button class="memberBtn">
                            服務條款
                        </button>
                        <input type="checkbox" name="" id=""> *@
                    </div>
                    <div class="enter">
                        <button type="submit" class="btn btn-primary" style="width:150px">註冊</button>
                        @*<a asp-area="" asp-controller="Home" asp-action="Index" class="enter">註冊</a>*@
                    </div>
                </form>
                
            </div>
        </div>
    </div>

    
    
    <!-- <button class="showDialogBtn" style="margin: 30px;">show dialog</button>

    <button class="showDialogBtn2" style="margin: 30px;">show dialog2</button> -->


    <script src="/js/remenber.js"></script>
    @section Scripts{
        @{
            <partial name="_ValidationScriptsPartial" />
        }
    }
</body>


</html>