

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <!-- 引用google字體 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <!--  -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- 引用fontawesome icon -->
    <script src="https://kit.fontawesome.com/da3a6ce48e.js" crossorigin="anonymous"></script>
    <script src="/js/jquery.js"></script>
    <title>關於我們</title>
</head>

<body>
    

    <!-- 頭部圖片顯示 -->
    <div class="aboutus-main">
        <section class="aboutus-backImage">
            <div class="aboutus-filter"></div>
                <h3>一個簡單的網站，希望能讓無家可歸的毛小孩，找到一個溫暖的家</h3>
                <h3>也歡迎大家一起分享事情</h3>
        </section>
    </div>
@* 
    <main>
        <section class="backImage">
            <div class="filter"></div>
            <h3>可以讓你分享領養資訊，想領養或了解狗、想曬自家毛小孩
                <br>
                一個讓大家討論的地方
            </h3>
            <button class="start"><a asp-area="" asp-controller="Member" asp-action="Singup" target="_blank" rel="noopener noreferrer">歡迎加入</a></button>
        </section>
    </main> *@
    

    
</body>

</html>