
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <!-- 引用google字體 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <!--  -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- 引用fontawesome icon -->
    <script src="https://kit.fontawesome.com/da3a6ce48e.js" crossorigin="anonymous"></script>
    <script src="/js/jquery.js"></script>
    <title>狗狗資訊</title>
</head>

<body>
    

    <div class="adoptionpage-body">
        <h1>認識我<i class="fa-solid fa-shield-dog"></i></h1>
        <div class="adoptionpage-mainbox">
            <div class="adoptionpage-imgbox">
                <img src="/img/adoptiondog01.png" alt="">
            </div>
            <div class="adoptionpage-tablebox">
                <table>
                    <tr>
                        <td>性別</td>
                        <td>公</td>
                        <td>年齡</td>
                        <td>幼犬</td>
                        <td>名字</td>
                        <td>無</td>
                    </tr>
                    <tr>
                        <td>絕育</td>
                        <td>已絕育</td>
                        <td>驅蟲紀錄</td>
                        <td>已驅腸道寄生蟲</td>
                        <td>預防注射</td>
                        <td>八合一<br/>狂犬病疫苗</td>
                    </tr>
                    <tr>
                        <td>性情</td>
                        <td colspan="2">活潑,好動,親熟人</td>
                        <td>備註</td>
                        <td colspan="2">已驅腸道寄生蟲</td>
                    </tr>
                    <tr>
                        <td>聯絡電話</td>
                        <td>04-23850949</td>
                        <td>認養地點</td>
                        <td colspan="3">臺中市南屯區中台路601號</td>
                    </tr>
                </table>
            </div>
        </div>
        <a asp-area="" asp-controller="Home" asp-action="Adoption">返回<i class="fa-solid fa-rotate-left"></i></a>
    </div>

    
</body>

</html>