
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <!-- 引用google字體 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <!--  -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- 引用fontawesome icon -->
    <script src="https://kit.fontawesome.com/da3a6ce48e.js" crossorigin="anonymous"></script>
    <script src="/js/jquery.js"></script>
    <title>常見症狀</title>
</head>

<body class="backgroundColor">
    

    <div class="disease-main">
        <div class="disease-box">
            <div class="disease-textbox">
                <h3 id="dis01">狂犬病</h3>
                <nav>
                    <p>感染致死率幾乎100%的人畜共通傳染病</p>
                    <p>主要經由已感染動物咬傷而從其唾液傳播</p>
                    <p>狗狗感染狂犬病後會異常興奮具攻擊性</p>
                    <p>吠叫聲改變、行動失調，最終全身麻痺而死亡</p>
                </nav>
            </div>
            <div class="disease-imgbox">
                <img src="/img/dogdis01.jpg" alt="" srcset="">
            </div>
        </div>

        <div class="disease-box">
            <div class="disease-textbox">
                <h3 id="dis02">犬瘟熱</h3>
                <nav>
                    <p>由攜帶病毒狗狗的分泌物及排泄物傳播</p>
                    <p>從口、鼻進入下一個宿主體內</p>
                    <p>病毒侵入神經系統時，狗狗會因腦炎</p>
                    <p>脊髓炎而出現步態不穩、哼聲、抽筋等症狀</p>
                    <p>死亡率極高</p>
                </nav>
            </div>
            <div class="disease-imgbox">
                <img src="/img/dogdis02.jpg" alt="" srcset="">
            </div>
        </div>

        <div class="disease-box">
            <div class="disease-textbox">
                <h3 id="dis03">犬小病毒出血性腸炎</h3>
                <nav>
                    <p>從口、鼻接觸到含病毒的排泄物而受感染</p>
                    <p>會影響腸道、免疫功能，出現各種症狀</p>
                    <p>如:血便、腸胃炎、免疫力下降、心肌炎等</p>
                </nav>
            </div>
            <div class="disease-imgbox">
                <img src="/img/dogdis01.jpg" alt="" srcset="">
            </div>
        </div>

        <div class="disease-box">
            <div class="disease-textbox">
                <h3 id="dis04">犬舍咳</h3>
                <nav>
                    <p>藉由空氣傳播病毒及細菌</p>
                    <p>狗狗會有咳嗽、眼鼻出現分泌物等症狀</p>
                    <p>嚴重者會發燒、厭食</p>
                </nav>
            </div>
            <div class="disease-imgbox">
                <img src="/img/dogdis02.jpg" alt="" srcset="">
            </div>
        </div>

        <div class="disease-box">
            <div class="disease-textbox">
                <h3 id="dis05">犬傳染性肝炎</h3>
            <nav>
                <p>狗狗口、鼻接觸到含病毒的分泌、排泄物而遭感染</p>
                <p>會影響肝臟、腎臟發展</p>
                <p>導致肝功能、凝血功能異常，及眼角膜病變等</p>
            </nav>
            </div>
            <div class="disease-imgbox">
                <img src="/img/dogdis01.jpg" alt="" srcset="">
            </div>
        </div>

        <div class="disease-box">
            <div class="disease-textbox">
                <h3 id="dis06">犬副流行性感冒</h3>
            <nav>
                <p>會引起狗狗鼻炎、支氣管炎</p>
            </nav>
            </div>
            <div class="disease-imgbox">
                <img src="/img/dogdis02.jpg" alt="" srcset="">
            </div>
        </div>

        <div class="disease-box">
            <div class="disease-textbox">
                <h3 id="dis07">犬鉤端螺旋體症</h3>
            <nav>
                <p>為人畜共通疾病，狗通常是在有水的地方遭感染</p>
                <p>或者接觸到其他受感染動物所排出的尿液</p>
                <p>常見的臨床症狀有:</p>
                <p>發燒、肌肉痠痛、嘔吐、淋巴結腫大等</p>
                <p>會引發全身性發炎，導致急性腎衰竭、血尿等</p>
            </nav>
            </div>
            <div class="disease-imgbox">
                <img src="/img/dogdis01.jpg" alt="" srcset="">
            </div>
        </div>

        <div class="disease-box">
            <div class="disease-textbox">
                <h3 id="dis08">犬冠狀病毒腸炎</h3>
            <nav>
                <p>狗狗會有嘔吐、下痢等臨床症狀</p>
            </nav>
            </div>
            <div class="disease-imgbox">
                <img src="/img/dogdis02.jpg" alt="" srcset="">
            </div>
        </div>

        <div class="disease-box">
            <div class="disease-textbox">
                <h3 id="dis09">萊姆病</h3>
            <nav>
                <p>人畜共通傳染病</p>
                <p>透過硬蜱（俗稱壁蝨）叮咬而傳播</p>
                <p>但不會人傳人，多發生在哺乳類動物之間</p>
                <p>高峰期為每年5月至8月，易出現在草叢、山區</p>
                <p>狗狗罹患後，有食慾減低、發燒</p>
                <p>關節炎，心臟、腎臟功能損傷</p>
            </nav>
            </div>
            <div class="disease-imgbox">
                <img src="/img/dogdis01.jpg" alt="" srcset="">
            </div>
        </div>

    </div>


    
</body>

</html>