

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <!-- 引用google字體 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <!--  -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- 引用fontawesome icon -->
    <script src="https://kit.fontawesome.com/da3a6ce48e.js" crossorigin="anonymous"></script>
    <script src="/js/jquery.js"></script>
    <title>討論區一</title>
</head>

<body>
    

    <div class="forum-art">
        <div class="forum-title">
            <h5>作者: <span>發佈時間:</span></h5>
        </div>
        <div class="forum-textbox">
            <p>哇哈哈哈哈</p>
        </div>
        <div class="respond">
            <h4>會員:</h4>
            <p>對阿</p>
        </div>
    </div>

    
</body>

</html>