

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <!-- 引用google字體 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <!--  -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- 引用fontawesome icon -->
    <script src="https://kit.fontawesome.com/da3a6ce48e.js" crossorigin="anonymous"></script>
    <script src="/js/jquery.js"></script>
    <title>疫苗介紹</title>
</head>

<body>
    

    <!-- 疫苗介紹超連結 -->
    <div class="art-title">
        <h4>疫苗表格</h4>
    </div>
    <div class="vaccine-main">
        
        <div class="vaccine-table">
            <table>
                <thead>
                    <tr>
                        <th>疫苗種類</th>
                        <th>預防傳染病</th>
                        <th>病毒/細菌種類</th>
                        <th>疫苗類型</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="5" class="vertical-center">核心疫苗</td>
                        <td>
                            <a href="disease#dis01" target="_blank" rel="noopener noreferrer">
                                狂犬病
                            </a>
                        </td>
                        <td>狂犬病毒</td>
                        <td class="tch">狂犬病疫苗</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="disease#dis02" target="_blank" rel="noopener noreferrer">
                                犬瘟熱
                            </a>
                        </td>
                        <td>犬瘟熱病毒</td>
                        <td rowspan="5" class="vertical-center">五合一疫苗</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="disease#dis03" target="_blank" rel="noopener noreferrer">
                                犬小病毒出血性腸炎
                            </a>
                        </td>
                        <td>犬小病毒第二型</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="disease#dis04" target="_blank" rel="noopener noreferrer">
                                犬舍咳
                            </a>
                        </td>
                        <td>犬線病毒第二型</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="disease#dis05" target="_blank" rel="noopener noreferrer">
                                犬傳染性肝炎
                            </a>
                        </td>
                        <td>犬線病毒第一型</td>
                    </tr>
                    <tr>
                        <td rowspan="7" class="vertical-center">非核心疫苗</td>
                        <td>
                            <a href="disease#dis06" target="_blank" rel="noopener noreferrer">
                                犬副流行性感冒
                            </a>
                        </td>
                        <td>犬副流行性感冒病毒</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="disease#dis07" target="_blank" rel="noopener noreferrer">
                                犬鉤端螺旋體症
                            </a>
                        </td>
                        <td rowspan="2">鉤端螺旋體菌</td>
                        <td rowspan="2" class="tch">七合一疫苗</td>
                    </tr>
                    <tr>
                        <td>
                           <a href="disease#dis07" target="_blank" rel="noopener noreferrer">
                            黃疸出血性鉤端螺旋體病
                           </a> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="disease#dis08" target="_blank" rel="noopener noreferrer">
                                犬冠狀病毒腸炎
                            </a>
                        </td>
                        <td>犬冠狀病毒腸炎</td>
                        <td class="tch">八合一疫苗</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="disease#dis07" target="_blank" rel="noopener noreferrer">
                                感冒傷寒性鉤端螺旋體病
                            </a>
                        </td>
                        <td rowspan="2">鉤端螺旋體菌</td>
                        <td rowspan="2" class="tch">十合一疫苗</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="disease#dis07" target="_blank" rel="noopener noreferrer">
                                波莫那鉤端螺旋體症
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="disease#dis09" target="_blank" rel="noopener noreferrer">
                                萊姆病
                            </a>
                        </td>
                        <td>伯氏疏螺旋體菌</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>

    
</body>

</html>