<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <!-- 引用google字體 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <!--  -->
    <link rel="stylesheet" href="css/style.css">
    <!-- 引用fontawesome icon -->
    <script src="https://kit.fontawesome.com/da3a6ce48e.js" crossorigin="anonymous"></script>
    <script src="js/jquery.js"></script>
    <title>引用資料</title>
</head>

<body>
    <!-- 導覽列 -->
    <div class="main-header">
        <div class="container">
            <h1>
                <i class="fa-solid fa-dog">
                    ShyKid
                </i>
            </h1>
            <nav>
                <ul class="main-menu">
                    <li><a href="">首頁<i class="fa-solid fa-house"></i></a></li>
                    <li>
                        <a href="">領養<i class="fa-solid fa-paw"></i></a>
                        <ul class="dropdown">
                            <li><a href="">待養寵物</a></li>
                            <li><a href="">領養資訊</a></li>
                            <li><a href=""></a></li>
                        </ul>
                    </li>
                    <li><a href="">測試</a></li>
                    <li><a href="">關於我們<i class="fa-regular fa-address-card"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>

   <a href="https://tw.news.yahoo.com/news/%E7%8B%97%E7%8B%97%E7%96%AB%E8%8B%97-%E7%8B%97%E7%8B%97%E7%96%AB%E8%8B%97%E8%B2%BB%E7%94%A8-%E7%8B%97%E7%8B%97%E7%96%AB%E8%8B%97%E5%A4%9A%E4%B9%85%E6%89%93%E4%B8%80%E6%AC%A1-%E7%8B%97%E7%8B%97%E7%96%AB%E8%8B%97%E5%89%AF%E4%BD%9C%E7%94%A8-%E7%8B%97%E7%8B%97%E5%82%B3%E6%9F%93%E7%97%85-072211269.html" target="_blank" rel="noopener noreferrer">
    狗狗疫苗
   </a>
   <a href="https://hk.best-wallpaper.net/Dog-yellow-flowers-spring_wallpapers.html">照片</a>

    <!-- 尾部區塊 -->
    <div class="footer">
        <div class="footer-wrap">
            <div class="footer-box">
                <div class="footer-content">
                    <h3>詳細資訊</h3>
                    <ul>
                        <li><a href=""><i class="fa-solid fa-angle-right"></i>最新消息</a></li>
                        <li><a href=""><i class="fa-solid fa-angle-right"></i>xxx</a></li>
                        <li><a href=""><i class="fa-solid fa-angle-right"></i>xxx</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-box">
                <div class="footer-content">
                    <h3>領養資訊</h3>
                    <ul>
                        <li><a href=""><i class="fa-solid fa-angle-right"></i>領養布告欄</a></li>
                        <li><a href=""><i class="fa-solid fa-angle-right"></i>發佈領養</a></li>
                        <li><a href=""><i class="fa-solid fa-angle-right"></i>領養須知</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-box">
                <div class="footer-content">
                    <h3>追蹤我們</h3>
                    <ul>
                        <li>
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                        </li>
                        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>