@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  font-size: 16px;
}

a {
  color: white;
  display: block;
  text-decoration: none;
}

.list {
  font-size: 24px;
}
.list li {
  padding: 15px 0;
}

.modal {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(106, 106, 106, 0.6509803922);
}

.dialog {
  position: absolute;
  z-index: 11;
  /* 將對話框水平置中。 */
  left: 50%;
  transform: translate(-50%, 0%);
  top: -10px;
  /* 設定對話框的起始位置。 對話框滑動的距離與時間會影響淡入效果，可以自行嘗試調整。 */
  opacity: 0;
  /* 將對話框設為透明。 */
  width: 90%;
  /* 對話框寬度。 */
  background: white;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  line-height: 1.7em;
}

.title {
  text-align: center;
  padding: 8px;
  font-size: 20px;
  background: rgba(31, 112, 56, 0.6784313725);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  border: 1px #f2e6e6 solid;
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.15);
}

.buttons {
  /* 加上這兩個CSS，可以讓button移動到對話框下方。 */
  text-align: right;
  padding: 8px 14px;
}

.okBtn {
  display: inline-block;
  background: rgba(9, 43, 104, 0.7019607843);
  color: rgba(255, 255, 255, 0.9215686275);
  border-radius: 8px;
  border: 1px solid white;
  padding: 4px 8px;
  cursor: pointer;
}

.cancelBtn {
  display: inline-block;
  background: rgba(233, 2, 2, 0.6784313725);
  color: rgba(255, 255, 255, 0.9215686275);
  border-radius: 8px;
  border: 1px solid white;
  padding: 4px 8px;
  cursor: pointer;
}

.vertical-center {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  text-align: center;
  letter-spacing: 0.5rem;
}

.tch {
  text-align: center;
}

.backgroundColor {
  background-color: #f2f4f6;
}

.main-header {
  width: 100%;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
.main-header h1 {
  color: #e59572;
  line-height: 60px;
  letter-spacing: 4px;
  margin: 0 20px;
}
.main-header .container {
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.main-header .main-menu {
  display: flex;
}
.main-header .main-menu li {
  font-size: 20px;
  position: relative;
  transition: 0.5s;
}
.main-header .main-menu li ul li {
  min-width: 150px;
}
.main-header .main-menu li::after {
  content: "";
  position: absolute;
  height: 4px;
  left: 50%;
  right: 50%;
  bottom: 0;
  background-color: #fff;
  transition: 0.5s;
}
.main-header .main-menu li:hover {
  background-color: #fff1ac;
}
.main-header .main-menu li:hover::after {
  left: 0;
  right: 0;
}
.main-header .main-menu li:hover .dropdown {
  display: block;
  opacity: 1;
  transition: 0.5s;
}
.main-header .main-menu li a {
  color: #e59572;
  padding: 0 15px;
  line-height: 60px;
}
.main-header .main-menu li a:hover {
  transition: all 0.5s ease;
  color: #4E0E2E;
}
.main-header .main-menu li i {
  padding-left: 2px;
}
.main-header .main-menu .dropdown {
  display: none;
  opacity: 0;
  position: absolute;
  background-color: #fff;
  z-index: 1;
}

main .backImage {
  width: 100%;
  min-height: 100vh;
  background-image: url(/img/dog.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  opacity: 0.8;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
main .backImage h3 {
  margin-bottom: 1rem;
  font-size: 2.2rem;
  color: #fff;
  line-height: 4rem;
  letter-spacing: 0.4rem;
  opacity: 1;
}
main .backImage .start {
  padding: 1rem;
  font-size: 20px;
  color: white;
  background-color: #4bc2c5;
  border: none;
  border-radius: 1rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
  opacity: 1;
}
main .backImage .start:hover {
  transition: 0.5s;
  background-color: #3b9a9c;
}
main .backImage .filter {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  z-index: -1;
}

.art-title {
  margin-top: 2rem;
  text-align: center;
}
.art-title h4 {
  font-size: 3rem;
  color: #e59572;
}

.main-item {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-item .shell {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 900px;
}
.main-item .shell:hover .box {
  transform: rotateY(20deg);
}
.main-item .shell .box {
  position: relative;
  width: 300px;
  height: 230px;
  transition: 0.3s;
  overflow: hidden;
  margin: 30px;
  transform: rotateY(0);
  transition-delay: 0.1s;
  border-radius: 5px;
  border: #333 4px solid;
}
.main-item .shell .box:hover {
  background-color: #f4f0e6;
  transition: 0.5s;
  height: 330px;
  transform: rotateY(0deg) scale(1.25);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.main-item .shell .box:hover ~ .box {
  transform: rotateY(-20deg);
}
.main-item .shell .box:hover .content h2 a {
  font-size: 30px;
}
.main-item .shell .box:hover .content p {
  color: #000;
  transform: translateY(170px);
}
.main-item .shell .box .images img {
  width: 100%;
}
.main-item .shell .box .content {
  position: absolute;
  top: 0;
  width: 90%;
  height: 100%;
  z-index: 999;
  padding: 15px;
  box-sizing: content-box;
}
.main-item .shell .box .content h2 a {
  color: rgb(210, 140, 140);
  transition: 0.3s;
  font-size: 24px;
  transform: translateY(160px);
  text-align: center;
}
.main-item .shell .box .content p {
  color: #fff;
  transition: 0.3s;
  font-size: 16px;
  transform: translateY(600px);
}

.footer {
  background-color: #263859;
  height: 230px;
}
.footer .footer-wrap {
  padding: 15px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer .footer-wrap .footer-box {
  color: #fff;
  margin: 0 5rem;
}
.footer .footer-wrap .footer-box .footer-content h3 {
  text-align: center;
  font-size: 24px;
  border-bottom: #fff 2px solid;
}
.footer .footer-wrap .footer-box .footer-content li i {
  padding-right: 0.2rem;
}
.footer .footer-wrap .footer-box .footer-content li a {
  font-size: 18px;
  margin: 1rem 0;
  position: relative;
}
.footer .footer-wrap .footer-box .footer-content li a::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 50%;
  right: 50%;
  bottom: 0;
  background-color: #fff;
  transition: 0.5s;
}
.footer .footer-wrap .footer-box .footer-content li a:hover {
  color: burlywood;
  transition: 0.5s;
}
.footer .footer-wrap .footer-box .footer-content li a:hover::after {
  left: 0;
  right: 0;
}
.footer .footer-wrap .footer-box:nth-child(3) li {
  margin: 0.3rem;
  display: inline-block;
}
.footer .footer-wrap .footer-box:nth-child(3) li i {
  font-size: 36px;
}
.footer .footer-wrap .footer-box:nth-child(3) li a {
  display: block;
}
.footer .footer-wrap .footer-box:nth-child(3) li a::after {
  height: 0;
}

.adoption-title {
  margin: 20px auto 20px auto;
  font-size: 48px;
  color: #ff8a5c;
}
.adoption-title h2 {
  text-align: center;
}
.adoption-title h2 i {
  padding-left: 10px;
}

.main-body {
  width: 100%;
  display: flex;
  margin-top: 50px;
  margin-bottom: 300px;
}
.main-body .sidemenu {
  width: 300px;
}
.main-body .sidemenu h4 {
  font-size: 42px;
  text-align: center;
  color: #C0392B;
}
.main-body .sidemenu h6 {
  font-size: 30px;
  text-align: center;
  margin: 20px 0;
  border-bottom: 5px solid #293462;
}
.main-body .sidemenu label {
  margin-left: 30px;
}
.main-body .sidemenu span {
  font-size: 26px;
}
.main-body .main-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.main-body .main-box .box {
  width: 200px;
  height: 300px;
  margin: 5px 20px;
}
.main-body .main-box .box img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 6px solid #3cadeb;
}
.main-body .main-box .box img:hover {
  transform: scale(1.2);
  border: 6px solid #C0392B;
  transition: 0.5s;
}
.main-body .main-box .box a {
  width: 50px;
  color: #000;
  font-size: 32px;
}
.main-body .main-box .box h4 {
  font-size: 32px;
  color: #4E0E2E;
}
.main-body #radio input[type=radio] {
  display: none;
}
.main-body #radio input:checked + .button {
  background: #293462;
  color: #fff;
  cursor: default;
}
.main-body #radio .button {
  display: inline-block;
  margin: 0 5px 10px 0;
  padding: 5px 10px;
  background: #f7f7f7;
  color: #333;
  cursor: pointer;
}
.main-body #radio .button:hover {
  background: #293462;
  color: #fff;
  transition: 0.5s;
}
.main-body #radio .round {
  border-radius: 10px;
}
.main-body #checkbox input[type=checkbox] {
  display: none;
}
.main-body #checkbox input:checked + .button {
  background: #293462;
  color: #fff;
}
.main-body #checkbox .button {
  display: inline-block;
  margin: 0 5px 10px 0;
  padding: 5px 10px;
  background: #f7f7f7;
  color: #333;
  cursor: pointer;
}
.main-body #checkbox .button:hover {
  background: #293462;
  color: #fff;
  transition: 0.5s;
}
.main-body #checkbox .round {
  border-radius: 10px;
}

.adoptionpage-body h1 {
  margin-top: 50px;
  font-size: 56px;
  text-align: center;
  color: #B47157;
}
.adoptionpage-body a {
  width: 300px;
  margin: 0 auto 50px auto;
  font-size: 52px;
  color: #fff;
  text-align: center;
  background-color: #3b9a9c;
  border: 2px solid #7F8C8D;
  border-radius: 15px;
}
.adoptionpage-body a:hover {
  color: #000;
  background-color: #fff1ac;
  transition: 0.5s;
}
.adoptionpage-body a i {
  margin-left: 20px;
}
.adoptionpage-body .adoptionpage-mainbox {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.adoptionpage-body .adoptionpage-mainbox .adoptionpage-imgbox {
  margin: 30px 30px;
  text-align: center;
}
.adoptionpage-body .adoptionpage-mainbox .adoptionpage-imgbox img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 6px solid #3cadeb;
}
.adoptionpage-body .adoptionpage-mainbox .adoptionpage-tablebox table {
  margin: 30px 0;
}
.adoptionpage-body .adoptionpage-mainbox .adoptionpage-tablebox table,
.adoptionpage-body .adoptionpage-mainbox .adoptionpage-tablebox table td {
  border: #263859 4px solid;
  border-collapse: collapse;
}
.adoptionpage-body .adoptionpage-mainbox .adoptionpage-tablebox table td {
  width: 250px;
  padding: 0.2rem;
  font-size: 36px;
  text-align: center;
}

.vaccine-main {
  margin-top: 50px;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vaccine-main .vaccine-table {
  width: 1200px;
}
.vaccine-main .vaccine-table table {
  margin: auto;
}
.vaccine-main .vaccine-table table,
.vaccine-main .vaccine-table table th,
.vaccine-main .vaccine-table table td {
  border: #263859 2px solid;
  border-collapse: collapse;
}
.vaccine-main .vaccine-table table th {
  font-size: 26px;
  padding: 1rem;
  background-color: #4bc2c5;
}
.vaccine-main .vaccine-table table td {
  padding: 0.5rem 0.2rem;
  font-size: 22px;
}
.vaccine-main .vaccine-table table td a {
  color: #4E0E2E;
}
.vaccine-main .vaccine-table table td a:hover {
  color: #e59572;
  transition: 0.5s;
}

.disease-main {
  margin-top: 100px;
}
.disease-main .disease-box {
  display: flex;
  width: 100%;
  height: 400px;
  margin-bottom: 50px;
  position: relative;
}
.disease-main .disease-box .disease-textbox {
  position: relative;
}
.disease-main .disease-box .disease-textbox h3 {
  color: #293462;
  padding-left: 4rem;
  font-size: 68px;
  letter-spacing: 2rem;
}
.disease-main .disease-box .disease-textbox nav p {
  color: #a64942;
  padding-left: 2rem;
  font-size: 32px;
  letter-spacing: 0.5rem;
}
.disease-main .disease-box .disease-imgbox {
  position: absolute;
  z-index: 1;
  bottom: 10%;
  right: 5%;
}
.disease-main .disease-box .disease-imgbox img {
  width: 250px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border: #f4f0e6 6px solid;
  box-shadow: 25px 15px 10px black;
  transform: rotate(10deg);
}

.login-body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
.login-body .login-main {
  top: 100px;
  width: 1200px;
  height: 500px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
  display: flex;
}
.login-body .login-main .login-backImage {
  width: 800px;
  background-image: url(/img/login.png);
  background-position: center;
  background-size: cover;
}
.login-body .login-main .login-container {
  width: 400px;
  height: 500px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-body .login-main .login-container .login-text {
  width: 350px;
  height: 500px;
}
.login-body .login-main .login-container .login-text h1 {
  font: 900 70px "";
}
.login-body .login-main .login-container .login-text .login {
  width: 250px;
  margin: 20px 0;
  outline: none;
  border: 0;
  padding: 10px;
  border-bottom: 3px solid rgb(80, 80, 170);
  font: 900 32px "";
}
.login-body .login-main .login-container .login-text .forget {
  font-size: 24px;
  color: #000;
  float: right;
  margin: 0 10px;
}
.login-body .login-main .login-container .login-text .forget:hover {
  color: #3cadeb;
  transition: 0.5s;
}
.login-body .login-main .login-container .login-text form .enter {
  width: 350px;
  margin-top: 60px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.login-body .login-main .login-container .login-text form .enter .enterbtn {
  margin-top: 15px;
  cursor: pointer;
  width: 300px;
  color: #f4f0e6;
  font-size: 36px;
  background-color: #263859;
  border-radius: 20px;
}
.login-body .login-main .login-container .login-text form .enter .enterbtn:hover {
  color: #263859;
  background-color: #f4f0e6;
  transition: 0.5s;
}
.login-body .login-main .singup-container {
  width: 800px;
  height: 500px;
  display: flex;
  background-color: #fff;
}
.login-body .login-main .singup-container h1 {
  font-size: 72px;
  padding-left: 4rem;
}
.login-body .login-main .singup-container label {
  font-size: 36px;
}
.login-body .login-main .singup-container input {
  width: 250px;
  margin: 30px 1rem;
  outline: none;
  border: 0;
  padding: 5px;
  border-bottom: 3px solid rgb(80, 80, 170);
  font: 900 32px "";
}
.login-body .login-main .singup-container .enter {
  width: 350px;
  margin-top: 60px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.login-body .login-main .singup-container .enter button, .login-body .login-main .singup-container .enter a {
  cursor: pointer;
  color: #f4f0e6;
  font-size: 36px;
  background-color: #263859;
  border-radius: 20px;
}
.login-body .login-main .singup-container .enter button:hover, .login-body .login-main .singup-container .enter a:hover {
  color: #263859;
  background-color: #f4f0e6;
  transition: 0.5s;
}

.singup-body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
.singup-body .singup-main {
  top: 100px;
  width: 600px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
  display: flex;
}
.singup-body .singup-main .singup-container {
  width: 600px;
  display: flex;
  background-color: #fff;
  flex-wrap: wrap;
}
.singup-body .singup-main .singup-container form {
  margin: auto;
}
.singup-body .singup-main .singup-container h1 {
  text-align: center;
  font-size: 72px;
}
.singup-body .singup-main .singup-container label {
  font-size: 36px;
}
.singup-body .singup-main .singup-container input {
  width: 350px;
  margin: 20px 1rem;
  outline: none;
  border: 0;
  padding: 5px;
  border-bottom: 3px solid rgb(80, 80, 170);
  font: 900 24px "";
}
.singup-body .singup-main .singup-container .enter {
  width: 350px;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.singup-body .singup-main .singup-container .enter button, .singup-body .singup-main .singup-container .enter a {
  color: #f4f0e6;
  font-size: 36px;
  background-color: #3cadeb;
  border-radius: 20px;
}
.singup-body .singup-main .singup-container .enter button:hover, .singup-body .singup-main .singup-container .enter a:hover {
  color: #263859;
  background-color: #f4f0e6;
  transition: 0.5s;
}
.singup-body .singup-main .singup-container .memberbox {
  width: 300px;
  margin: auto;
  text-align: center;
}
.singup-body .singup-main .singup-container .memberbox input {
  margin: 0;
  width: 32px;
  height: 24px;
}
.singup-body .singup-main .singup-container .memberbox .memberBtn {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  color: #3cadeb;
  background-color: #263859;
  height: 0;
  font-size: 32px;
  cursor: pointer;
}
.singup-body .singup-main .singup-container .memberbox .memberBtn:hover {
  color: #000;
  transition: 0.8s;
}

.forum-main {
  display: flex;
}
.forum-main .forum-sidemenu {
  width: 200px;
  height: 100vh;
  background-color: #7F8C8D;
  color: #fff;
  font-size: 24px;
}
.forum-main .forum-sidemenu .tabs-menu div {
  margin: 1rem 0;
  font-size: 28px;
  text-align: center;
  cursor: pointer;
}
.forum-main .forum-sidemenu .tabs-menu div:hover {
  color: #fff;
  background-color: #C0392B;
  transition: 0.5s;
}
.forum-main .forum-sidemenu .tabs-menu div.active {
  background-color: #C0392B;
}
.forum-main .forum-sidemenu h6 {
  text-align: center;
  font-size: 48px;
}
.forum-main .tabs a {
  color: #000;
}
.forum-main .tabs div {
  height: 0;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  pointer-events: none;
}
.forum-main .tabs div.current {
  height: auto;
  max-height: 200px;
  transition: all 1s;
  pointer-events: all;
  opacity: 1;
}
.forum-main .tabs div span {
  font-size: 20px;
  padding-left: 1rem;
}
.forum-main .tabs div h4 {
  font-size: 36px;
  padding-left: 2rem;
}
.forum-main .tabs div p {
  padding-left: 20px;
  font-size: 20px;
  overflow: hidden;
  letter-spacing: 0.1rem;
}

.aboutus-main .aboutus-backImage {
  width: 100%;
  min-height: 90vh;
  background-image: url(/img/aboutus01.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  opacity: 0.8;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.aboutus-main .aboutus-backImage h3 {
  margin-bottom: 1rem;
  font-size: 2.2rem;
  color: white;
  line-height: 4rem;
  letter-spacing: 0.4rem;
  opacity: 1;
}
.aboutus-main .aboutus-backImage .aboutus-filter {
  width: 100%;
  min-height: 90vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  z-index: -1;
}/*# sourceMappingURL=style.css.map */